.navbar-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 120px;
  background: #000324 no-repeat padding-box;
  opacity: 1;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  
}

.navbar-row {
  display: flex;
  gap: 40px;   
  top:83px;
  left: 762; 
  width: 71px; 
  height: 26;          /* space between links */
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.banner-image-container {
  position: absolute;
  top: 119px;
  left: 0px;
  width: 1920px;
  height: 500px;
  opacity: 1;
}

.banner-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner-box {
      position: absolute;
      top: 253px;
      left: 488px;
      width: 945px;
      height: 232px;
      background: #000324;
      opacity: 0.8;
      border-radius: 6px;
      box-sizing: border-box;
      padding: 16px;
      color: white;
    }

.inner-box-content {
  position: absolute;
  top: 312px;          /* relative to banner container */
  left: 732px;         /* relative to banner container */
  width: 456px;
  height: 57px;
  text-align: center;
  font: normal normal normal 45px/57px 'Dosis', sans-serif;
  letter-spacing: 0;
  color: #E5FEFF;
  opacity: 1;
  white-space:nowrap;
  overflow: hidden;
}
.box-subcontent {
  top: 383px;
left: 751px;
width: 418px;
height: 20px;
/* UI Properties */
text-align: center;
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}

.white-container{
top: 0px;
left: 0px;
width: 1920px;
height: 4612px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.h2 {
top: 719px;
left: 776px;
width: 434px;
height: 44px;
/* UI Properties */
text-align: left;
font: normal normal normal 35px/44px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
 }

.white-content{

top: 785px;
left: 776px;
width: 753px;
height: 155px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
 } 

.logos-container {
  position: relative; /* positioning context for absolute child */
}

.log1 {
  position: absolute;
  top: 962px;
  left: 776px;
  width: 200px;
  height: 153px;
  background: transparent url('/images/awardfinest.png') 0% 0% no-repeat padding-box;
  background-size: contain; /* scale image inside box */
  opacity: 1;
}
.log2 {
top: 931px;
left: 1052px;
width: 200px;
height: 193px;
/* UI Properties */
background: transparent url('/images/awardsatisfaction.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.log3 {
top: 949px;
left: 1355px;
width: 200px;
height: 175px;
/* UI Properties */
background: transparent url('/images/awardgenuine.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.blue-image-container{
    top: 1235px;
left: 0px;
width: 1920px;
height: 738px;
opacity: 1;
}


    