.navbar-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 120px;
  background: #000324 no-repeat padding-box;
  opacity: 1;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
}

.navbar-row {
  display: flex;
  gap: 40px;               /* space between links */
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.banner-image-container {
  position: absolute;
  top: 119px;
  left: 0px;
  width: 1920px;
  height: 500px;
  opacity: 1;
}

.banner-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner-box {
      position: absolute;
      top: 253px;
      left: 488px;
      width: 945px;
      height: 232px;
      background: #000324;
      opacity: 0.8;
      border-radius: 6px;
      box-sizing: border-box;
      padding: 16px;
      color: white;
    }

    .inner-box-content {
  position: absolute;
  top: 312px;          /* relative to banner container */
  left: 732px;         /* relative to banner container */
  width: 456px;
  height: 57px;
  text-align: center;
  font: normal normal normal 45px/57px 'Dosis', sans-serif;
  letter-spacing: 0;
  color: #E5FEFF;
  opacity: 1;
  white-space:nowrap;
  overflow: hidden;
}